body {
    margin: 0;
} 

.div1, .div2{
    height: 100vh;
}

.div1 {
    background-color: blueviolet;
}

.div2{
    background-color: burlywood;
}

.square{
    width: 100px;
    height: 100px;
    background-color: rgb(42, 39, 184);
}

.square2{
    width: 100px;
    height: 100px;
    background-color: green;
}

.red {
    background-color: red;
}
